name: release

permissions:
  id-token: write
  pages: write

on: [workflow_dispatch]

jobs:
  sdist:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - run: uv build --sdist
    - uses: actions/upload-artifact@v6
      with:
        name: artifact-sdist
        path: dist/

  wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v6
    - if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all
    - uses: pypa/cibuildwheel@v3.3
      env:
        CIBW_BUILD: cp310-*
        CIBW_ARCHS_LINUX: auto aarch64
        CIBW_ARCHS_MACOS: x86_64 arm64
    - uses: actions/upload-artifact@v6
      with:
        name: artifact-${{ matrix.os }}
        path: wheelhouse/

  publish:
    needs: [sdist, wheels]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v7
      with:
        path: dist/
        pattern: artifact-*
        merge-multiple: true
    - uses: pypa/gh-action-pypi-publish@release/v1

  pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - run: make html
    - uses: actions/upload-pages-artifact@v4
      with:
        path: site/
    - uses: actions/deploy-pages@v4
