name: release

on:
  push:
    tags: ['v*']

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
    - uses: astral-sh/setup-uv@v7
    - run: uv build --sdist
    - run: make
    - run: uv run mkdocs gh-deploy --force
    - uses: actions/upload-artifact@v5
      with:
        name: artifact-sdist
        path: dist/

  wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v6
    - if: runner.os == 'Linux'
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all
    - uses: pypa/cibuildwheel@v3.2
      env:
        CIBW_BUILD: cp310-*
        CIBW_ARCHS_LINUX: auto aarch64
        CIBW_ARCHS_MACOS: x86_64 arm64
    - uses: actions/upload-artifact@v5
      with:
        name: artifact-${{ matrix.os }}
        path: wheelhouse/

  upload:
    needs: [publish, wheels]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: actions/download-artifact@v6
      with:
        path: dist/
        pattern: artifact-*
        merge-multiple: true
    - uses: pypa/gh-action-pypi-publish@release/v1
